@import "tailwindcss";


body {
    overflow: hidden;
    font-family: fantasy;

}


.active{
    background-color: rgba(255, 255, 255, 0.08);
}

.active>.dots {
    background: linear-gradient(to right,#f97316,#ec4899);
    box-shadow: 0 0 18px rgba(255, 80, 0, 0.35);
}
.active > .title-wrapper > .nav-title{
    color: white;
    opacity: 1;
}